* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: #1F2937;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links > ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}